.search-one{
    border: 6px solid rgb(130, 130, 130);
    border-radius: 100px;
    height: 120px;
    width: 70%;
    padding: 2px 23px 15px 30px;
    outline: 0;
    background-color: #ffffff;
    font-size: 50px;
    text-align: center;
    font-family: OCR A std;
    margin-top: 10px;
    margin-right: 80px;
}
.search-one:hover, .search-two:focus {
  background-color: rgb(0, 0, 0);
}
.search-two{
  border: 0px solid rgb(130, 130, 130);
    border-radius: 800px;
    height: 400px;
    width: 18%;
    padding: 2px 23px 10px 30px;
    outline: 0;
    background-color: #ffffff;
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
    font-family: 'OCR A std';
}
.search-two:hover, .search-two:focus {
    background-color: rgb(0, 0, 0);
  }

  .search-three{
    border: 6px solid rgb(130, 130, 130);
    border-radius: 100px;
    height: 140px;
    width: 35%;
    padding: 2px 23px 10px 30px;
    outline: 0;
    background-color: #ffffff;
    font-size: 50px;
    text-align:  center;
    position: right;
    margin-left: 5px;
    margin-top: 40px;
    font-family: 'OCR A std';
  }
  .search-three:hover, .search-two:focus {
    background-color: rgb(0, 0, 0);
  }
  .search-four{
    border: 6px solid rgb(130, 130, 130);
    border-radius: 100px;
    height: 120px;
    width: 40%;
    padding: 2px 23px 10px 30px;
    outline: 0;
    background-color: #ffffff;
    font-size: 50px;
    text-align: center;
    margin-left: 100px;
    margin-top: 40px;
    font-family: 'OCR A std';
}
.search-four:hover, .search-two:focus {
  background-color: rgb(255, 0, 0);
}

.para-1{
  color: white;
  font-family: OCR A std;
  margin-top: 100px;
  line-height: -10px;
}
.search{
  font-size: 60px;
}
.box{
  font-size: 50px;
}
.search-letter{
  font-size: 40px;
}
.field{
  font-size: 30px;
}
.search-word{
  font-size: 40px;
}
.bar{
  font-size: 50px;
}
.graphical{
  font-weight: 400;
  font-size: 30px;
}
body {
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}