body{
    background-color: #26a500;
}

/*.error{
    display: grid;
    place-items: center;
    margin-top: 10rem;
}*/

.error-box{
    width: 280px;
    height: 50px;
    background: #C4C4C4;
    text-align: center;
    font-weight: 700;
    line-height: 46px;
    font-size: 36px;
    color: #123a8a;
    margin-left: 100px;
    margin-bottom: 100px;
}
.error-box:hover{
  background-color: #000000;
  color: red;
  transform: translateY(-100px);
  cursor: not-allowed;
}
/*.error-text{
    padding-top: 4rem;

}*/
.error-text h1 {
    white-space: pre-line;
    overflow-wrap: break-word;
    color: #ffffff;
    font-size: 36px;
    overflow: hidden; 
    border-right: .15em solid #C4C4C4; 
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: .025em; 
    animation: 
      typing 4.25s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  .error-text-two h2 {
    white-space: pre-line;
    overflow-wrap: break-word;
    color: #b7b7b7;
    font-size: 36px;
    overflow: hidden; 
    border-right: .15em solid #C4C4C4; 
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: .025em; 
    animation: 
      typing 4.25s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  .error-text-two h2:hover {
  color: rgb(242, 255, 0);
  cursor: help;
  }
  .error-text h1:hover {
  color: red;
  cursor: help;
  }
  .error-text-three h3 {
    white-space: pre-line;
    color: #656565;
    font-size: 36px;
    overflow: hidden; 
    border-right: .15em solid #C4C4C4; 
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: .025em; 
    animation: 
      typing 4.25s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  .error-text-three h3:hover {
  color: rgb(255, 123, 0);
  cursor: help;
  }
  h2 {
    margin-top: 4rem;
    color: #C4C4C4;
    font-weight: 900;
    text-align: center;
    font-size: 24px;
  }
h3{
  text-align: right;
}
h4 {
  margin-top: 4rem;
  color: #040404;
  font-weight: 900;
  text-align: center;
  font-size: 24px;
  cursor: wait;
}
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #C4C4C4; }
  }