.chelsea-title {
    font-family: courier;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
    color: white;
}

.para-1 {
    font-family: courier;
    font-size: 20px;
    width: 1500px;
    margin-top: 20px;
}

.para-2 {
    font-family: courier;
    font-size: 20px;
    width: 1500px;
    margin-top: 60px;
}

.para-3 {
    font-family: courier;
    font-size: 20px;
    width: 1500px;
    margin-top: 50px;
}

.para-4 {
    font-family: courier;
    font-size: 20px;
    width: 1500px;
    margin-top: 100px;
}

.img-1 {
    width: 900px;
    margin-left: 10px;
    border-radius: 80px;
    margin-top: 40px;
}

.img-2 {
    width: 900px;
    margin-left: 100px;
    border-radius: 80px;
    margin-top: 20px;
}

.img-3 {
    width: 900px;
    margin-left: 300px;
    border-radius: 80px;
    margin-top: 50px;
}

.img-4 {
    width: 900px;
    margin-left: 500px;
    border-radius: 80px;
    margin-top: 100px;
}

body {
    background-color: rgb(149, 105, 236);
}