p {
    font-family: 'Courier New', Arial;
    margin-top: 0;
    margin-bottom: 0;
    color:rgb(234, 50, 50) ;
  }
  .video-grid{
    margin-top:50px;
  }
  .bottom{
    width: 100px;
    margin-top: 100px;
  }
  .space{
    color: white;
  }
  .math{
    color: white;
  }
  .fit{
    color: white;
  }
  .tubes{
    color: white;
    font-size: 40px;
    font-family: 'OCR A Extended', sans-serif;
margin-top: 0px;
  }
  .yous{
    color: white;
    font-size: 50px;
    display: inline-block;
    font-family: 'OCR A Extended', sans-serif;
  }
  .mes{
    color: white;
    font-size: 10px;
    display: inline-block;
  }
  body {
    margin: 0;
    background: rgb(28, 49, 68);
  }
  .header {
    height: 55px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .thumbnail {
    width: 100%;
  }
  
  .video-title {
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
  }
  
  .video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
  }
  
  .profile-picture {
    width: 40px;
    border-radius: 50px;
  }
  
  .thumbnail-row {
    margin-bottom: 12px;
  }
  
  .video-author,
  .video-stats {
    font-size: 12px;
    color: rgb(255, 255, 255);
  }
  
  .video-author {
    margin-bottom: 4px;
  }
  
  .video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
    margin-top: 10px;
  }
  .next-button{
   font-family: 'courier new';
  }
  .next-button:hover{
     text-decoration: underline;
   }
   .previous-button:hover{
    text-decoration: underline;
  }
  .previous-button{
    font-family: 'courier new';
   }
   #scroll-container {
    border: 3px solid black;
    border-radius: 5px;
    overflow: hidden;
  }
    #scroll-container {
      border: 3px solid black;
      border-radius: 5px;
      overflow: hidden;
    }
    
    #scroll-text {
      text-align: right;
    
      /* animation properties */
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      
      -moz-animation: my-animation 15s linear infinite;
      -webkit-animation: my-animation 15s linear infinite;
      animation: my-animation 15s linear infinite;
    }
    
    /* for Firefox */
    @-moz-keyframes my-animation {
      from { -moz-transform: translateX(-100%); }
      to { -moz-transform: translateX(100%); }
    }
    
    /* for Chrome */
    @-webkit-keyframes my-animation {
      from { -webkit-transform: translateX(-100%); }
      to { -webkit-transform: translateX(100%); }
    }
    
    @keyframes my-animation {
      from {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
      }
      to {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
      }
    }