p {
    font-family: 'Courier New', Arial;
    margin-top: 0;
    margin-bottom: 0;
    color:rgb(234, 50, 50) ;
  }
  .video-grid{
    margin-top:50px;
  }
  .bottom{
    width: 100px;
    margin-top: 100px;
  }
  .space{
    color: white;
  }
  body {
    margin: 0;
    background: rgb(28, 49, 68);
  }
  .header {
    height: 55px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .left-section {
    background-color: lightblue;
    width: 150px;
  }
  
  .middle-section {
    background-color: lightpink;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
  }
  
  .right-section {
    background-color: lightblue;
    width: 200px;
  }
  .thumbnail {
    width: 100%;
  }
  
  .video-title {
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
  }
  
  .video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
  }
  
  .profile-picture {
    width: 40px;
    border-radius: 50px;
  }
  
  .thumbnail-row {
    margin-bottom: 12px;
  }
  
  .video-author,
  .video-stats {
    font-size: 12px;
    color: rgb(255, 255, 255);
  }
  
  .video-author {
    margin-bottom: 4px;
  }
  
  .video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
  }
  .next-button{
   font-family: 'courier new';
  }
  .next-button:hover{
     text-decoration: underline;
   }
   .previous-button:hover{
    text-decoration: underline;
  }
  .previous-button{
    font-family: 'courier new';
   }